html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: #d2cece; 
}
.wrapper {
	height: 1315px;
	width: 910px;
	background-color: white;
	padding: 10px 45px 0px 45px;
	margin: 0px auto;
}
header {
	height: 25px;
	width: 910px;
	margin: 0 auto;
	/*padding: 5px;*/
}
.top {
	display: inline-block;
	font-size: 0px;
    line-height:0px;
    letter-spacing:-1px;
}
.top li {
    display: -moz-inline-stack!important;
    zoom:1;
    line-height: 25px;
	text-align:center;
    letter-spacing: 1px;
}
.fone {
	width: 290px;
	height: 25px;
	float: left;
	font-size: 18px;
	color:  #5e696d;
	font-family:  Arial;
}
.login {
	width: 495px;
	height: 25px;
	float: left;
	background: #0d365a;
    background: linear-gradient(to top, #0d365a, #1f6685);
    border-radius: 4px;
    margin-left: 23px;
    box-shadow: 2px 2px 3px 0px rgba(180,180,180,0.75);
}
.login.logbut {
	display: inline-block;
	font-size: 0px;
    line-height:0px;
    letter-spacing:-1px;
}
.login.logbut li {
	letter-spacing:normal;
    display: -moz-inline-stack!important;
    zoom:1;
    text-align: center;
    line-height: 25px;
 }
 .whiteman {
 	height: 22px;
 	width: 25px;
 	float: left;
 	margin-top: 3px;
 }
 .inlog {
 	height: 17px;
 	width: 115px;
 	float: left;
 	margin-top: 3px;
 	border: none;
 	border-radius: 2px;
 }
 .inpas {
 	height: 17px;
 	width: 115px;
 	float: left;
 	margin-top: 3px;
 	margin-left: 5px;
 	border: none;
 	border-radius: 2px;
 }
 .ent {
 	float: left;
 	height: 25px;
 	width: 40px;
 	border: none;
 	background: inherit;
 	color: white;
 	font-size: 11px;
 	font-family: Lucida;
 	cursor: pointer;
 	margin-right: 4px;
 }
 .reg {
 	float: left;
 	height: 25px;
 	width: 72px;
 	text-decoration: none;
 	color: white;
 	font-size: 11px;
 	font-family: Lucida;
 }
 .fogpas {
 	float: left;
 	height: 25px;
 	width: 95px;
 	color: #bfbfbf;
    font-size: 11px;
 	font-family: Lucida;
 	margin-left: 13px;	
 }

nav {
	height: 20px;
	width: 75px;
	border: 1px solid #bfc6c9;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	text-align: center;
	float: right;
	margin-right: 8px;
}
.foto {
	height: 238px;
	width: 909px;
	margin: 10px auto;
}
.menu {
	height: 35px;
	width: 910px;
	margin: -7px auto;
	background: #030303;
    background: linear-gradient(to top, #030303, #4d5663);
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(80,82,94,0.5);
    display: inline-block;
}
.list {
	display: inline-block;
	margin-left: 125px;
}
.list li {
	/*letter-spacing:normal;
    display: -moz-inline-stack!important;
    zoom:1;*/
    text-align: center;
    line-height: 25px;
    float: left;
    color: #b1bcc0;
    font-size: 13px;
    font-family: Lucida;
    padding-left: 18px;
    padding-right: 18px;
    height: 25px;
    margin-top: 4px;

}
.list li:hover {
	background: #0d3458;
	background: linear-gradient(to top, #0d3458, #1f6787);
	border-radius: 25px;
	cursor: pointer;
}
.busket {
	float: right;
	line-height: 25px;
	margin-right: 7px;
	margin-top: 7px;
}
.prod {
	float: right;
	text-align: center;
    line-height: 31px;
    margin-right: 25px;
    color: #737a7d;
	letter-spacing: -1.5px;
}
.sum {
	float: right;
	text-align: center;
    line-height: 31px;
    margin-right: 75px;
    color: #737a7d;
	letter-spacing: -1.5px;
}
.forms {
	height: 135px;
	width: 910px;
	margin: 13px auto;
	display: inline-block;
}
.left {
	width: 411px;
    height: 133px;
    float: left;
    border: 1px #b6b6b7 solid;
    border-radius: 17px;
    margin-left: 4px;
    box-shadow: 1px 1px 5px 0px rgba(173,173,174,0.75);
	bor: ;
	ar: ;
	margin-right: 10px;
}
.middle {
	height: 134px;
	width: 190px;
	float: left;
	border: 1px #b6b6b7 solid;
    border-radius: 18px;
    margin-left: 5px;
    margin-right: 6px;
    box-shadow: 1px 1px 5px 0px rgba(173,173,174,0.75);
}
.right {
	height: 134px;
	width: 265px;
	float: left;
	border: 1px #b6b6b7 solid;
    border-radius: 18px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px 0px rgba(173,173,174,0.75);
	bor: ;
	margin-left: 5px;
}
.aleft {
	display: block;
	float: left;
	height: 625px;
	width: 180px;
	margin: 3px 10px 30px -2px;

}
.product {
    float: left;
    height: 627px;
    width: 525px;
    margin: 0px 10px 30px 2px;
    background: linear-gradient(to top, #93a7b0, #e4e7e8);
    border-radius: 5px;
}
figure {
    display: block;
    width: 137px;
    float: left;
    height: 175px;
    text-align: center;
    margin: 15px;
}
figure:hover {
	cursor: pointer;
}
.shina {
	height: 127px;
	width: 137px;
    background-color: white;
    border: 1px #a8b2b5 solid;
    border-radius: 5px;
    margin-bottom: 3px;
	margin-left: 8px;
}
.shina img {
	margin: 5px auto;
}
figure h6 {
	color: #206988;
	font-size: 15px;
	font-family: Lucida;
	letter-spacing: 1px;
	margin-left: 20px;
	margin-bottom: 1px;
}
figure p {
	color: black;
	font-size: 13px;
	font-family: Lucida;
	margin-bottom: 0px;
	margin-left: 15px;
	letter-spacing: 0.7px;;
}
.nthh6 {
	margin-top: -5px;
}
.nthp {
	margin-bottom: 4px
}
.price {
	color: #114165;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin-left: 20px;
}	
.price span {
	font-size: 12px;
	/*margin-top: 5px;*/
}
.aright {
	display: block;
	float: left;
	height: 625px;
	width: 158px;
	margin: 0px 0px 40px 0px;
}
.catalog {
	height: 25px;
	width: 180px;
    color: #114165;
    font-size: 12px;
    font-family: Lucida;
    border-radius: 20px;
    border: 1px solid #79878d;
    display: inline-block;
    box-shadow: 1px 3px 5px 0px rgba(191,191,191,1);
    margin-bottom: 11px;
}
.catalog img {
	float: left;
	margin-left: 3px;
	margin-top: 1px;
}
.catalog p {
	width: 142px;
	float: left;
	margin: 6px;
}
.lname li {
	height: 25px;
	width: 150px;
	border: 1px solid #79878d;
	border-radius: 20px;
	display: inline-block;
	font-size: 14px;
	font-family: Lucida;
	color: #114165;
}
.lname li img {
	float: left;
	margin: 1px 3px;
}
.lname li p {
	float: left;
	margin-top: 5px;
}
#in {
	list-style-image: url(../img/marker.png);
	margin-bottom: 1px;
}
#in li {
	font-size: 12px;
	color: #465961;
	font-family: Lucida;
	margin-left: 52px;
	border: none;
	width: 140px;
	line-height: 25px;
	display: list-item;
	margin-top: -1px;
	letter-spacing: 1.5px;
}
#in li:hover {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
	list-style-image: url(../img/hovmarker.png);
}
.br {
	height: 25px;
	width: 181px;
    color: #114165;
    font-size: 12px;
    font-family: Lucida;
    border-radius: 20px;
    border: 1px solid #79878d;
    display: inline-block;
    box-shadow: 1px 3px 5px 0px rgba(191,191,191,1);
    margin-bottom: 13px;
}
.br img {
	float: left;
	margin-left: 3px;
	margin-top: 1px;
}
.br p {
	width: 142px;
	float: left;
	margin: 6px;
}
.rname li {
	height: 25px;
	width: 135px;
	border: 1px solid #79878d;
	border-radius: 20px;
	display: inline-block;
	font-size: 14px;
	font-family: Lucida;
	color: #114165;
	margin-left: 14px;
	margin-bottom: 2px;
}
.rname li img {
	float: left;
	margin: 1px 3px;
}
.rname li p {
	float: left;
	margin-top: 5px;
}
#rin li {
	font-size: 12px;
	color: #465961;
	font-family: Lucida;
	margin-left: 20px;
	border: none;
	width: 100px;
	letter-spacing: 3px;
}
.aright button {
	height: 25px;
	width: 80px;
	background: linear-gradient(to top, #0d3458, #1f6787);
	color: white;
	font-size: 11px;
	font-family: Arial;
	padding: 6px auto;
	border-radius: 25px;
	border: none;
	margin: 9px 25px;
}
.brend {
    height: 40px;
    width: 910px;
    text-align: center;
    clear: both;
    margin-bottom: 12px;
    margin-top: 20px;
}
footer {
	height: 100px;
	width: 909px;
	background-color: #213a4d;
	margin: 0px auto;
	text-align: center;
	/*display: inline-block;*/
}
.down {
	display: inline-block;
	margin: 12px auto;
}
.down li {
	float: left;
	text-align: center;
	color: #bec6c9;
	font-family: Arial;
	font-size: 12px;
	padding-right: 7px;
	letter-spacing: 0.5px;

}
.down li a {
	text-decoration: none;
	color: #bec6c9;
	font-family: Arial;
	font-size: 12px;
}
.down a:hover {
	color: #52abcb;
	cursor: pointer;
}
address {
	color: #7f4740;
	font-size: 10px;
	font-family: Arial;
}