* {
	margin: 0;
	padding: 0;
}
.tabs {
	margin: 5px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 5px;
	width: 90%;
	margin-bottom: 10%;
}
.tabs_name {
	height: 50px;
	width: 100%;
	border-radius: 5px;
	background: linear-gradient(to top, #929292, #cecece);
}
.tabs ul {
	list-style: none;
}
.tabs ul li {
	font-family: Tahoma, sans-serif;
	float: left;
	padding: 0 10px;
	margin: 11px 0px 0px 5px;
	background-color: #C4C1C1;
	border-radius: 5px 5px 0px 0px;
	line-height: 38px;
	border: 1px solid #a3a1a1;
	border-bottom: none;;
}
#active {
	background-color: white;
	display: block;
}
.tabs ul li:hover {
	border: 1px solid grey;
    border-bottom: none;
	cursor: pointer;
}
.tabs_inner {
	clear: both;
	width: 90%;
	padding-left: 5px;
}
.tabs_inner {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	padding: 10px;
}
.first { 
    display: none;
}
.second {
	display: none;
}
.third {
	display: none;
}
.tooltips {
	margin: 5px 0px 10px 5px;
	font-family: Tahoma, sans-serif;
	position: relative;
}
span {
	width: 15%;
	display: inline-block;
}
.tip {
	position: absolute;
	z-index: 1;
	width: 20%;
	font-size: 14px;
	margin-left: 400px;
	border: 1px solid grey;
	text-align: center;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	display: none;
}
button {
	width: 15%;
	height: 30px;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}
button:hover {
	cursor: pointer;
}



