.container {
	max-width: 1240px;
	margin: 0 auto;
}
@media only screen  and (min-device-width: 490px) and (max-device-width: 767px) {
.container {
	max-width: 768px;
	margin: 0 auto;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.container {
	max-width: 1024px;
	margin: 0 auto;
}
}
@media only screen and (max-device-width: 489px) {
	.container {
	max-width: 450px;
	margin: 0 auto;
	overflow: hidden;
}
}
header {
	padding-top: 25px;
	height: 640px;
	width: 100%;
	background-color: rgba(8, 10, 16, 0.4);
	background: url(../img/header_back.png) no-repeat;
	background-position: center;
}	
.logo {
	margin-left: 40px;
	display: inline-block;
	float: left;
	color: white;
	height: 33px;
	width: 75px;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 110px;
}
nav {
	display: inline-block;
	float: left;
    margin-left: 10%;
	width: 53%;
}
nav a {
	text-decoration: none;
	color: white;
	margin: 0 10px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.fa-bars {
   display: none;
}
.menu {
	display: none;
	float: right;
	top: 0;
	right: 0;
	width: 80%;
	height: 665px;
	position: absolute;
	z-index: 4;
	background-color: white;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
}
.menu span {
	margin: 35px 0 35px 45px;
	font-size: 24px;
	float: left;
}
.menu .fa-times {
	float: right;
	margin: 35px 30px 35px;
	font-size: 30px;
}
.menu .fa-times:hover {
	cursor: pointer;
}
.menu ul {
	clear: both;
	margin-left: 45px;
	margin-bottom: 45px;
}
.menu li {
	font-size: 16px;
	margin-top: 30px;
}
.menu li:hover {
	cursor: pointer;
}
.menu p {
	font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
  margin-left: 45px;
  color: #4a4a4a;
}
.social {
	display: inline-block;
	float: right;
	color: white;
	margin-right: 40px;
}
.social div {
	display: inline-block;
	height: 28px;
	width: 38px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	margin: 0 10px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}
.social div:hover {
	color: #9b9b9b;
	background-color: white;
	opacity: 0.3;
	cursor: pointer;
}
header h1 {
	clear: both;
	margin-left: 40px;
	color: white;
	width: 823px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: block;
	font-size: 48px;
	margin-bottom: 20px;
}
header p {
	width: 437px;
	height: 66px;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-left: 40px;
	line-height: 22px;
	margin-bottom: 44px;
}
header form {
	margin-left: 40px;
}
.input_container {
	width: 430px;
    height: 62px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #9b9b9b;
	font-size: 16px;
	font-family: 'Open Sans';
	margin-bottom: 40px;
}
.input_container div {
	height: 68%;
	width: 60px;
	float: left;
	padding-top: 20px;
	text-align: center;
    border-right: 1px solid #9b9b9b;
    display: inline-block;
}
.input_container input {
	height: 97%;
	width: 235px;
	padding-left: 20px;
	display: inline-block;
	border: none;
	font-size: 16px;
	font-family: 'Open Sans';
	color: #9b9b9b;
}
.input_container input:focus {
	border: none;
}
.input_container button {
	display: none;
	height: 90%;
	background-color: #9b9b9b;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	width: 107px;
	border-radius: 4px;
    background-color: #505e70;
    color: white;
}
.input_container button:hover {
     background-color: #424f5f;
}
header a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-left: 3%;
    font-family: 'Open Sans', sans-serif;
}
header a .fa {
	font-size: 45px;
	margin-right: 15px;
}
@media only screen and (min-width: 1025px) {
	header {
	background: url(../img/header_back2x.png) no-repeat;
	background-position: center;

}
}
@media only screen and (min-device-width: 490) and (max-device-width: 768px) {
	nav {
		margin-left: 3%;
		width: 68%;
	}
	.social {
		margin-right: 30px;
	}
	.social div {
		display: block;
	}
	header h1 {
		width: 90%;
	}
}
@media only screen and (max-device-width: 489px) {
	header {
		height: 665px;
		padding-top: 0;
		width: 100%;
	}
	.logo {
		margin-bottom: 50px;
		margin-left: 0;
		margin-top: 20px;
	}
	nav {
		display: none;
	}
	.social {
		display: none;
	}
	header h1 {
		width: 291px;
        height: 220px;
        font-size: 36px;
        font-weight: 300;
        margin-left: 0;
	}
	header p {
		width: 291px;
        height: 88px;
        margin-left: 0;
	}
	header form {
		margin-left: 0;
	}
	.input_container {
		width: 315px;
		height: 62px;
		margin-bottom: 10px;
	}
	.input_container input {
		padding-left: 5px;
		width: 160px;
	}
	.input_container button {
		width: 75px;
	}
	header a {
		margin-left: 0;
		text-align: center;
	}
	.fa-bars {
		display: block;
		color: white;
		float: right;
		font-size: 30px;
		margin-top: 30px;
	}
	.fa-bars:hover {
		cursor: pointer;
	}
}
.category {
	height: 900px;
	width: 100%;
}
.category h2 {
	width: 395px;
	height: 50px;
	display: block;
	margin: 50px auto 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #4a4a4a;
}
.category p {
    width: 531px;
    height: 72px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #9b9b9b;
    display: block;
    margin: 0 auto;
}
.category ul {
	display: block;
	margin: 30px auto;
	width: 95%;
	height: 25px;
	margin-bottom: 20px;
}
.category li {
	display: inline-block;
	float: left;
	width: 16%;
	height: 100%;
	text-align: center;
	color: #9b9b9b;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}
.category li:hover {
	color: #4a4a4a;
	cursor: pointer;
}
.category li img {
	display: none;
}
.category li:nth-child(2) img {
	margin-left: -75%;
}
.category li:nth-child(3) img {
	margin-left: -175%;
}
.category li:nth-child(4) img {
	margin-left: -275%;
}
.category li:nth-child(5) img {
	margin-left: -375%;
}
.category li:nth-child(6) img {
	margin-left: -475%;
}
.category .active img {
	display: block;
	width: 1240px;
	margin-top: 20px;
	margin-left: 25%;
}
.active .active li {
	color: #4a4a4a;
}
.carusel {
	display: none;
}
@media only screen and (min-device-width: 490px) and (max-device-width: 768px) {
    .category {
    	height: 700px;
    }
	.category ul {
		height: 40px;
	}
	.category .active img {
        width: 768px;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
	.category .active img {
        width: 950px;
	}
	.category {
    	height: 750px;
    }
}
@media only screen and (max-device-width: 489px) {
	.category {
		height: 620px;
	}
	.category p {
		width: 90%;
		text-align: left;
	}
  .category ul {
  	display: none;
  }
  .carusel {
  	display: block;
  	margin-top: 10px;
  }
  .carusel_item {
  	height: 480px;
  	width: 88%;
  	display: inline-block;
  	float: left;
  }
  .carusel_item span {
  	text-align: center;
    color: #9b9b9b;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
  }
  .carusel_item img {
  	height: 380px;
  	width: 100%;
  	display: block;
  }
  .carusel button {
  	opacity: 0;
  }
}
.focus {
	height: 850px;
	width: 100%;
}
.focus h3 {
	width: 720px;
	height: 50px;
	display: block;
	margin: 50px auto 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #4a4a4a;
}
.focus p {
    width: 531px;
    height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #9b9b9b;
    display: block;
    margin: 0 auto;
 }
 .focus_item {
 	display: inline-block;
 	height: 330px;
 	width: 30%;
 	background: url(../img/6.png) no-repeat;
 	background-position: top center;
 	margin-left: 3%;
 }
 .focus_item:nth-child(4) {
    background: url(../img/1.png) no-repeat;
    background-position: top center;
 }
 .focus_item:nth-child(5) {
    background: url(../img/3.png) no-repeat;
    background-position: top center;
 }
 .focus_item:nth-child(6) {
    background: url(../img/4.png) no-repeat;
    background-position: top center;
 }
 .focus_item:nth-child(7) {
    background: url(../img/5.png) no-repeat;
    background-position: top center;
 }
 .focus_item:nth-child(8) {
    background: url(../img/2.png) no-repeat;
    background-position: top center;
 }
 .focus_item h5 {
 	width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
  margin-top: 180px;
  margin-bottom: 20px;
 }
 .focus_item p {
 	width: 233px;
  height: 132px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: normal;
  color: #9b9b9b;
  text-align: justify;
 }
 @media only screen and (min-device-width: 490px) and (max-device-width: 768px) {
	.focus_item {
		width: 29%
	}
}
@media only screen and (max-device-width: 490px) {
	.focus {
 		height: 2225px;
 	}
	.focus_item {
		width: 90%
	}
	.focus h3 {
		width: 90%;
		height: 123px;
		margin-bottom: 10px;
		text-align: left;
		margin-top: 30px;
	}
	.focus p {
		width: 90%;
		height: 88px;
		text-align: left;
	}
}
 .feedback {
 	width: 100%;
 	height: 1000px;
 }
 .feedback h3 {
	height: 50px;
	display: block;
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #4a4a4a;
}
.feedback p {
    width: 531px;
    height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #9b9b9b;
    display: block;
    margin: 25px auto;
 }
.feedback strong {
	font-weight: 500;
    }
.feedback ul {
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.carousel {
	display: none;
}
.feedback li {
	height: 190px;
	width: 190px;
	display: inline-block;
	float: left;
	margin: 2px;
}
.feedback li h5 {
	display: none;
	margin-left: 50px;
	width: 60%;
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #4a90e2;
}
.feedback li p {
	display: none;
	margin-left: 50px;
	width: 75%;
	margin-top: 10px;
  height: 36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  color: #9b9b9b;
}
.feedback li img {
	display: block;
	height: 190px;
	width: 190px;
	border-radius: 4px;
}
.feedback .active_li {
	position: absolute;
	width: 384px;
	height: 384px;
	border-radius: 4px;
	z-index: 3;
}
.feedback .active_li:nth-child(6) {
	left: 776px;
	-webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(12), .feedback .active_li:nth-child(11) {
	left: 776px;
	top: 194px;
	-webkit-transition: all 10.5 ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(7) {
	left: 0;
	top: 194px;
	-webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(13), .feedback .active_li:nth-child(19) {
	left: 0;
	top: 388px;
	-webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(8) {
    left: 194px;
    top: 194px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(9) {
    left: 388px;
    top: 194px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}    
.feedback .active_li:nth-child(10) {
    left: 582px;
    top: 194px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(11) {
    left: 776px;
    top: 194px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(14), .feedback .active_li:nth-child(20) {
    left: 194px;
    top: 388px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(15), .feedback .active_li:nth-child(21) {
    left: 388px;
    top: 388px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(16), .feedback .active_li:nth-child(22) {
    left: 582px;
    top: 388px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li:nth-child(17), .feedback .active_li:nth-child(18), .feedback .active_li:nth-child(23), .feedback .active_li:nth-child(24), .feedback .active_li:nth-child(25) {
    left: 776px;
    top: 388px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li div {
    width: 382px;
    height: 99px;
    background-color: white;
    border: solid 1px #d8d8d8;
    background-image: url(../img/col_back.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: left;
    background-position-x: 15px;
    -webkit-transition: all 0.5s ease-out 0.5s;
     -moz-transition: all 0.5s ease-out 0.5s;
     -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
}
.feedback .active_li h5 {
	display: block;
}
.feedback .active_li p {
	display: block;
}
.feedback .active_li img {
	width: 100%;
    height: 283px;
}
@media only screen  and (max-device-width: 489px) {
	.collage {
		display: none;
	}
	.feedback {
		height: 750px;
	}
	.feedback h3 {
		text-align: left;
		margin-bottom: 10px;
		height: 82px;
		width: 96%;
	}
	.feedback p {
        text-align: left;
        width: 90%;
        height: 120px;
	}
	.carousel {
		display: block;
	}
	.carousel_item {
		width: 384px;
	    height: 384px;
	    border-radius: 4px;
	    display: inline-block;
	    float: left;
	    margin-left: 5px;
	}
	.carousel_item div {
		width: 100%;
    height: 99px;
    background-color: white;
    border: solid 1px #d8d8d8;
    background-image: url(../img/col_back.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: left;
    background-position-x: 15px;
	}
	.carousel_item h5 {
		margin-left: 150px;
	    width: 60%;
	    margin-top: 15px;
	    font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: #4a90e2;
	}
	.carousel_item p {
		margin-left: 150px;
	    width: 75%;
	    margin-top: 10px;
        height: 36px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
        color: #9b9b9b;
	}
	.carousel_item img {
		width: 100%;
        height: 283px;
	}
	.carousel button {
		opacity: 0;
	}
}
@media only screen  and (min-device-width: 490px) and (max-device-width: 768px) {
	.carousel {
		display: none;
	}
	.feedback li {
		height: 170px;
		width: 170px;
	}
	.feedback li img {
		height: 170px;
		width: 170px;
	}
	.feedback .active_li {
		height: 344px;
		width: 344px;
	}
	.feedback .active_li img {
		height: 244px;
	}
	.feedback .active_li div {
		width: 342px;
	}
	.feedback li p, .feedback li h5 {
        margin-left: 65px;
	}
	.feedback .active_li:nth-child(4), .feedback .active_li:nth-child(5) {
		left: 522px;
	}
	.feedback .active_li:nth-child(6) {
		left: 0;
		top: 174px;
	}
	.feedback .active_li:nth-child(7) {
		left: 174px;
		top: 174px;
	}
	.feedback .active_li:nth-child(8) {
		left: 348px;
		top: 174px;
	}
	.feedback .active_li:nth-child(10), .feedback .active_li:nth-child(9) {
		left: 522px;
		top: 174px;
	}
	.feedback .active_li:nth-child(11) {
		left: 0;
		top: 348px;
	} 
	.feedback .active_li:nth-child(12) {
		left: 174px;
		top: 348px;
	}
	.feedback .active_li:nth-child(13) {
		left: 348px;
		top: 348px;
	}
	.feedback .active_li:nth-child(14), .feedback .active_li:nth-child(15) {
		left: 522px;
		top: 348px;
	}
	.feedback .active_li:nth-child(16), .feedback .active_li:nth-child(121) {
		left: 0;
		top: 522px;
	}
	.feedback .active_li:nth-child(17), .feedback .active_li:nth-child(22) {
		left: 174px;
		top: 522px;
	}
	.feedback .active_li:nth-child(18), .feedback .active_li:nth-child(23) {
		left: 348px;
		top: 522px;
	}
	.feedback .active_li:nth-child(19), .feedback .active_li:nth-child(20), .feedback .active_li:nth-child(24), .feedback .active_li:nth-child(25) {
		left: 522px;
		top: 522px;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
	.carousel {
		display: none;
	}
	.feedback li {
		height: 170px;
		width: 170px;
	}
	.feedback li img {
		height: 170px;
		width: 170px;
	}
	.feedback .active_li {
		height: 344px;
		width: 344px;
	}
	.feedback .active_li img {
		height: 244px;
	}
	.feedback .active_li div {
		width: 342px;
	}
	.feedback li p {
		margin-left: 65px;
	}
	.feedback li h5 {
        margin-left: 65px;
}
    .feedback .active_li:nth-child(5) {
		left: 522px;
}
     .feedback .active_li:nth-child(6) {
		left: 0;
		top: 174px;
}
     .feedback .active_li:nth-child(7) {
		left: 174px;
		top: 174px;
	}
	.feedback .active_li:nth-child(8) {
		left: 348px;
		top: 174px;
	}
	.feedback .active_li:nth-child(9), .feedback .active_li:nth-child(10) {
		left: 522px;
		top: 174px;
	}
	.feedback .active_li:nth-child(11) {
		left: 0;
		top: 348px;
}
.feedback .active_li:nth-child(12) {
		left: 174px;
		top: 348px;
	}
	.feedback .active_li:nth-child(13) {
		left: 348px;
		top: 348px;
	}
	.feedback .active_li:nth-child(14), .feedback .active_li:nth-child(15) {
		left: 522px;
		top: 348px;
	}
	.feedback .active_li:nth-child(16), .feedback .active_li:nth-child(21) {
		left: 0;
		top: 522px;
}
    .feedback .active_li:nth-child(17), .feedback .active_li:nth-child(22) {
		left: 174px;
		top: 522px;
}
     .feedback .active_li:nth-child(18), .feedback .active_li:nth-child(23) {
		left: 348px;
		top: 522px;
}
     .feedback .active_li:nth-child(19), .feedback .active_li:nth-child(20), .feedback .active_li:nth-child(24), .feedback .active_li:nth-child(25) {
		left: 522px;
		top: 522px;
}
}
footer {
	width: 100%;
	height: 475px;
	padding-top: 35px;
	background-color: #424f5f;
	clear: both;
}
footer h3 {
	text-align: center;
	margin-top: 35px;
	font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}
footer p {
	width: 531px;
  height: 72px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
.item_container {
	margin: 0 auto;
	width: 90%
}
.footer_item {
	width: 33%;
	display: inline-block;
	float: left;
	margin-bottom: 90px;
	margin-top: 70px;
}
footer .logo {
	clear: both;
	margin-bottom: 0px;
}
footer button {
	display: none;
	opacity: 0;
}
@media only screen and (min-device-width: 490px) and (max-device-width: 768px) {
	.footer_item {
		margin-bottom: 45px;
	}
	footer .logo {
		margin-top: 90px;
	}
	footer nav {
		margin-top: 90px;
		margin-left: 10%;
	}
	footer .social {
		margin-top: 70px;
	}
}
@media only screen and (max-device-width: 489px) {
	footer {
		height: 566px;
	}
	footer p {
		display: none;
	}
	footer h3 {
		text-align: left;
	}
	.footer_item {
		display: block;
		float: none;
		margin: 60px auto;
		width: 60%;
	}
	footer .logo {
		margin-top: 15px;
	}
	footer button {
		display: none;
		opacity: 1;
		position: fixed;
		color: white;
		font-size: 50px;
		background: none;
		float: right;
		right: 20px;
		bottom: 20px;
		color: gray;
		border: none;
		-moz-transform: rotate(270deg); /* Для Firefox */
    -ms-transform: rotate(270deg); /* Для IE */
    -webkit-transform: rotate(270deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(270deg); /* Для Opera */
    transform: rotate(270deg);
	}
	footer button:hover {
        cursor: pointer;
	}
}