<!DOCTYPE html>
<html>
<head>
	<title>My Carousel</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/task11-12js-1.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/jQueryCarouselMy.js"></script>
    <script type="text/javascript" src="js/tamplate.js"></script>
    <script type="text/javascript" src="js/task11-12-1.js"></script>
</head>
<body>
<div class="carousel-arrow-left"><span>Влево</span></div>
<div class="carousel-wrapper">
<ul class="carousel-list">
	    <li class="carousel-element"><img src="img/jcarousel/foto5carusel.jpg" alt="foto1"><div>Мир</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto2carusel.jpg" alt="foto2"><div>Труд</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto3carusel.jpg" alt="foto3"><div>Май</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto4carusel.jpg" alt="foto4"><div>Мир</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto1carusel.jpeg" alt="foto5"><div>Труд</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto6carusel.jpg" alt="foto6"><div>Май</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto7carusel.jpg" alt="foto7"><div>Мир</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto8carusel.jpg" alt="foto8"><div>Труд</div></li>
		<li class="carousel-element"><img src="img/jcarousel/foto9carusel.jpg" alt="foto9"><div>Май</div></li>
</ul>
</div>
<div class="carousel-arrow-right"><span>Вправо</span></div>

<!--1е дз с помощью шаблонизатора-->

<script type="text/tamplate" id="task">
<div class="little">

<h1><%= data[0].title %></h1>
<img class="foto" src="<%= data[0].content %>" alt="foto">

<% for (var i = 1; i < data.length; i++) { %>
     
	<p><%= data[i].title %></p>
	<ul>
	<%= data[i].content[i].forEach(function (item) { %>
    <li><%- item %></li>
    <% }); %>
	</ul>
	<hr>
   
<% }; %>
</div>
</script>

</body>
</html>