h4 {
	margin: 20px auto;
	line-height: 1.8em;
    font-weight: 500;
    color: $blue;
    font-family: $noto;
    font-size: 20px;
}
p {
	color: #8b8b8b;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 1.5em;
    font-family: $noto;
}
.about_us_item {
	width: 27%;
	height: 200px;
	margin: 30px;
	display: inline-block;
	float: left;
	span {
	    font-size: 56px;
        line-height: 1.519em;
        font-weight: 500;
        text-align: ceneter;
        color: $blue;
        font-family: $noto;
	}
	h5 {
	     text-transform: uppercase;
         font-size: 16px;
         font-weight: 500;
         line-height: 1.714em;
         color: $blue;
         font-family: $noto;
         text-align: center;
	}
}
.store_item {
	width: 27%;
	height: 300px;
	margin: 20px;
	display: inline-block;
	float: left;
	div {
	    height: 90px;
	    width: 120px;
	    border: 1px solid $blue;
	    border-radius: 100%;
	    color: $blue;
	    font-size: 56px;
	    margin: 20px auto;
	    padding-top: 30px;
	}
	h5 {
	    text-transform: uppercase;
         font-size: 16px;
         font-weight: 500;
         line-height: 1.714em;
         color: $blue;
         font-family: $noto;
         text-align: center;
	}
	p {
	     color: $blue;
	}
}

