<!DOCTYPE html>
<html>
<head>
	<title>Infant Closes</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/scss/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/tamplate.js"></script>
	<script type="text/javascript" src="js/slick/slick.min.js"></script>

	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>

<header>
	<div class="container">
		<div class="header_item">
			<a href="#">HOME</a>
			<a href="#">MY ACCOUNT</a>
			<a href="#">CHECKOUT</a>
		</div>
		<div class="header_item">
		    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> WHISHLIST: 0</a>
			<a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i> COMPARE: 0</a>
			<a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> CART: 0</a>
		</div>
		<div class="header_item">
		    <a href="#">English <i class="fa fa-angle-down" aria-hidden="true"></i></a>
			<a href="#">Currensy: USD <i class="fa fa-angle-down" aria-hidden="true"></i></a>
			<a href="#">LOG IN <i class="fa fa-sign-in" aria-hidden="true"></i></a>
		</div>
		<br>
		<div class="header_item">
			<span><i class="fa fa-phone" aria-hidden="true"></i> TEL: 800-2345-6789</span>
			<p>7 days a week from 9:00 am to 7:00 pm</p>
		</div>
		<div class="header_item">
			<img src="img/logo.png">
		</div>
		<div class="header_item">
			<input type="search" placeholder="Search entire store here">
			<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</div>
		<br>
		<ul id="menu">
			<li><a href="#">BABY CLOTHES <i class="fa fa-angle-down" aria-hidden="true"></i></a><span><i class="fa fa-circle" aria-hidden="true"></i></span>
			    <ul class="submenu-container">
			    <div>
                    <ul class="submenu">
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> NIGHTWEAR</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> DRESSES AND JUMPSUITS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> SHIRTS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> LEGGINGS AND TROUSERS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> BAGS</a></li>
                     </ul>
                    <ul class="submenu">
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> BODYSUITS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> SWEATSHIRTS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> SKIRTS AND SHORTS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> JOGGING</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> ACCESSORIES</a></li>
                     </ul>
                    <ul class="submenu">
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> COATS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> CARDIGANS AND SWEATERS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> JEANS</a></li>
                	       <li><a href="#"><i class="fa fa-circle-o" aria-hidden="true"></i> SHOES</a></li>
                     </ul>   
                </div>     
                </ul>
			</li>
			<li><a href="#">BABY SHOES</a><span><i class="fa fa-circle" aria-hidden="true"></i></span></li>
			<li><a href="#">BABY GIFT SETS</a><span><i class="fa fa-circle" aria-hidden="true"></i></span></li>
			<li><a href="#">BABY GEAR</a><span><i class="fa fa-circle" aria-hidden="true"></i></span></li>
			<li><a href="#">ETHNIC</a><span><i class="fa fa-circle" aria-hidden="true"></i></span></li>
		</ul>
	</div>
</header>
<section class="banner">
<div class="container">
    <div class="banner_item">
	<img src="img/banner-1_img-1.png" alt="banner-foto">
	</div>
	<div class="banner_item">
    <span>Quick selection</span>
    <p>Pick products your need, all in few clicks</p>
    <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>BOYS</a>
    <a href="#">GIRLS<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="banner_item">
	<img src="img/banner-1_img-2.png" alt="banner-foto">
	</div>
</div>	
</section>
<section class="mini">
<div class="container">
	<div class="mini_item"><div><img src="img/banner-2_img-1.jpg" alt="banner-foto"></div></div><span><img src="img/arrow-1.png"></span>
	<div class="mini_item text"><h1>MINI<br>0-12 MONTH</h1>
	<a href="#">SHOP NOW</a></div>
</div>	
</section>
<section class="mini baby">
<div class="container">
    <div class="mini_item text"><h1>BABY GIRL<br>3 MONTH - 3 YEARS</h1>
	<a href="#">SHOP NOW</a></div>
	<span><img src="img/arrow-2.png"></span><div class="mini_item"><div><img src="img/banner-2_img-2.jpg" alt="banner-foto"></div></div>
	</div>
</section>
<section class="mini toddler">
<div class="container">
	<div class="mini_item"><div><img src="img/banner-2_img-3.jpg" alt="banner-foto"></div></div><span><img src="img/arrow-3.png"></span>
	<div class="mini_item text"><h1>BABY GIRL<br>4 YEARS - 5 YEARS</h1>
	<a href="#">SHOP NOW</a></div>
</div>
</section>
<h3 class="carousel_name">NEW PRODUCTS</h3>

<div class="jcarousel" id="first">
<script type="text/tamplate" id="product" style="display:none">
    
    <% for (var i = 0; i < 8; i++) { %>
	<div>
	<figure>
	<!--добавить или картинку или бэкграунд звездочки-->
	<p class="label">NEW</p>
	
	<img src="<%= data[i].img %>" alt="img">
	<figcuption>
	<p><%= data[i].name %></p>
	<span><%= data[i].price %></span>
	<span class="salePrice"><%= data[i].lastPrice %></span><br>
	<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
	</figcuption>
	</figure>
	</div>
	<% }; %>
	
</script>
</div>
<h3 class="carousel_name">SPECIAL PRODUCTS</h3>
<div class="jcarousel" id="last">

	<script type="text/tamplate" id="items" style="display:none">
    
    <% for (var i = 8; i < data.length; i++) { %>
	<div>
	<figure>
	<!--добавить или картинку или бэкграунд звездочки-->
	<p class="label pnk">SALE</p>
	<img src="<%= data[i].img %>" alt="img">
	<figcuption>
	<p><%= data[i].name %></p>
	<span><%= data[i].price %></span>
	<span class="salePrice"><%= data[i].lastPrice %></span><br>
	<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
	</figcuption>
	</figure>
	</div>
	<% }; %>
	
</script>

</div>

<section class="rules">
<div class="container">
	<div class="rules_item gl">
		<span>Shipping and delivery</span>
		<p>Here you can read some details about a nifty little lifecycle of your order's journey from the time you place your order to your new treasures arriving at your doorstep.</p>
	</div>
	<div class="rules_item bl">
		<span>Payment Methods</span>
		<p>It is equally important to choose the solution which offers a specific selection of credit cards that are most popular in the merchants target markets. We take Visa & MasterCard as they are widely used by cyber customers.</p>
	</div>
	<div class="rules_item pink">
	    <span>Contuct us</span>
		<p>You can contact us any way that is convenient for you. We are available 24/7 via fax, email or telephone. You can also use a quick contact form or visit our office personally.</p>
	</div>
	</div>
</section>
<section class="information">
<div class="container">
	<div class="information_item">
	<h4>INFORMATION</h4>
		<ul>
			<li><a href="#">ABOUT US</a></li>
			<li><a href="#">CUSTOMER SERVICE</a></li>
			<li><a href="#">TEMPLATE SETTINGS</a></li>
			<li><a href="#">PRIVACY POLICY</a></li>
			<li><a href="#">SITE MAP</a></li>
			<li><a href="#">SEARCH TERMS</a></li>
			<li><a href="#">ADVANCED SEARCH</a></li>
			<li><a href="#">ORDERS AND RETURNS</a></li>
			<li><a href="#">CONTACT US</a></li>
		</ul>
	</div>
	<div class="information_item">
	<h4>WHY BUY FROM US</h4>
		<ul>
			<li><a href="#">SHIPPING & RETURNS</a></li>
			<li><a href="#">SECURE SHOPPING</a></li>
			<li><a href="#">INTERNATIONAL SHIPPING</a></li>
			<li><a href="#">AFFILIATES</a></li>
			<li><a href="#">GROUP SALES</a></li>
		</ul>
	</div>
	<div class="information_item">
	<h4>MY ACCOUNT</h4>
		<ul>
			<li><a href="#">SIGN IN</a></li>
			<li><a href="#">VIEW CART</a></li>
			<li><a href="#">MY WISHLIST</a></li>
			<li><a href="#">TRACK MY ORDER</a></li>
			<li><a href="#">HELP</a></li>
		</ul>
	</div>
	</div>
</section>
<footer>
<div class="container">
	<div class="footer_item">
		<span>TEL: 800-2345-6789</span>
		<p>7 days a week from 9:00 am to 7:00 pm</p>
	</div>
	<div class="footer_item">
		<address>28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</address>
		<p>2016&copy; Magento Demo Store. All Rights Reserved.</p>
	</div>
	<div class="footer_item">
		<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
	</div>
	<button id="back_top_button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
</div>	
</footer>
</body>
</html>