<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<script type="text/template" id="wrapper-tamplate">
	<div class="wrapper">
	     <ul class="item-list"></ul>
	     <div class="controlls">
	         <input type="text" class="item-value">
	         <button class="item-add">Add</button>
	     </div>
	</div>
</script>

<script type="text/template" id="list-tamplate">
	<% for(var i = 0; i < data.length; i++) { %>
		<li id="<%= i + 1 %>" class="todoitem">
		<label id="<%= i + 1 %>" class="item-label" data-value="<%= data[i] %>"><%= data[i] %></label>
        <span class="item-delete" data-value="<%= data[i] %>">X</span>
        <input id="<%= i + 1 %>" type="text" class="item-new-value" value="">
		</li>
	<% }; %>
</script>
<script data-main="js/app.js" src="js/require.js"></script>
</body>
</html>