@mixin border-radius ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@media only screen  and (max-device-width: 424px) {
.container {
	max-width: 424px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 55px;
	padding-top: 25px;
	.logo {
	    display: inline-block;
	    float: left;
	    color: $blue;
	    font-family: $robotoSlab;
	    font-size: 30px;
	    width: 26%;
	}
	nav {
	    width: 30%;
	    display: inline-block;
	    float: left;
	    margin-left: 3%;
	    margin-right: 3%;
	    margin-top: 5px;
	    a {
	       text-decoration: none;
	       color: $black;
	       font-family: $robotoBlack;
	       font-size: 16px;
	       display: inline-block;
	       padding-left: 10px;
	       padding-right: 10px;
	       margin-left: 20px;
	       position: relative;

	    .submenu {
	       display: none;
	       position: absolute;
	       z-index: 5;
	       background-color: white;
	       @include border-radius (5px);
           border: 2px solid #e9e3d8;
	       li {
	          z-index: 9;
	          margin-top: 10px;
	          font-family: $roboto;

	       }
	    }
	  }
	  a:nth-child(2), a:nth-child(3) {
	        display: none;
	    }
	}
	.lang {
	     display: inline-block;
	     float: left;
	     margin-top: 5px;
	     width: 45px;
	     font-family: $roboto;
	     font-weight: bold;
	     font-size: 20px;
	     color: $black;
	     opacity: 0.8;
	}
	.header_icon {
	    display: none;
	}
	.lang:hover {
	     cursor: pointer;
	}
	
	.fa-bars {
	display: block;
	float: right;
	color: $black;
	margin-right: 3%;
	margin-top: 2%;
	font-size: 20px;
	opacity: 0.7;
    }
    .icons425 {
        display: none;
	    float: right;
        right: 35%;
        background-color: white;
        position: absolute;
        z-index: 1;
        height: 210px;
        width: 50px;
        .fa-times {
          display: block;
          color: $black;
          opacity: 0.7;
          margin-left: 10px;
        }
	    .header_icon {
	      height: 30px;
	      width: 30px;
	      margin-bottom: 20px;
	      position: relative;
	      display: block;
	      float: left;
	      $position: 0px -56px -116px -177px;
	      $i:0;
	      @each $pos in first, second, third, fourth {
	         $i: $i+1;
	         &.#{$pos} {
	             background: url('../../img/icons_sprite.png') nth($position, $i) 0px;
	             background-repeat: no-repeat;
	         }
	    } 
	    span {
	        position: absolute;
            z-index: 1;
            color: $blue;
            font-family: $robotoBlack;
            font-size: 12px;
            border: 2px solid $blue;
            @include border-radius(100%);
            margin-top: -10px;
            right: -5px;
            padding-top: 3px;
            height: 12px;
            width: 15px;
            text-align: center;
            background-color: white;
	    }
	}
	.header_icon:hover {
         cursor: pointer;
	}
    }
}
.page {
    width: 100%;
    height: 975px;
	clear: both;
	background-color: #f1edea;
	text-align: center;
	span {
	    display: none;
	}
	h1 {
	     font-family: $robotoCond;
	     font-size: 55px;
	     font-weight: bold;
	     color: $black;
	     margin-top: 30px;
	}
	.page_item:nth-child(5) {
	     display: inline-block;
	     float: left;
	     height: 570px;
	     width: 40%;
	     position: absolute;
         z-index: 3;
         left: 30%;
         height: 420px;
	     margin-top: 30px;
	     background-color: white;
	     @include border-radius(5px 0px 0px 0px);
	     .page_foto {
	          height: 100%;
	          width: 100%;
	          display: none;
	      }
	      .page_foto img {
	          height: 100%;
	          width: 100%;
	          @include border-radius(5px 0px 0px 0px);
	      }
	     .page_foto.active {
	          display: block;
	     } 
	}
	.page_item:nth-child(6) {
	     @include border-radius(0px 5px 0px 0px);
	     position: relative;
	     width: 100%;
	     height: 876px;
	     background-color: white;
	     .fotos {
	         
	         margin-top: 460px;
	         height: 75px;
	         display: inline-block;
	        
	         li { 
	            display: inline-block;
	            float: left;
	            margin-right: 5px;
	         img {
	             height: 75px;
	             width: 75px;
	             display: block;
	             opacity: 0.6;
	             margin-bottom: 30px;
	            }
	           } 
	         li img:hover {
	             cursor: pointer;
	         }
	      }   
	     .page_content {
	         display: inline-block;
	         float: left;
	         height: 38%;
	         width: 95%;
	         margin-left: 25px;
	         span {
	             color: $black;
	             font-size: 48px;
	             font-family: $robotoSlab;
	             margin-top: 50px;
	             margin-bottom: 40px;
	         }
	         span:after {
	             content: '';
	         }
	         .color {
	             height: 30px;
	             width: 150px;
	             padding-top: 5px;
	             color: $black;
	             font-family: $roboto;
	             font-size: 14px;
	             border: 2px solid #e9e3d8;
	             @include border-radius(50px);
	             div {
	                height: 20px;
	                width: 20px;
	                display: inline-block;
	                @include border-radius(100%);
	                background-color: #585d61;
	                margin: -5px 10px;
	             }
	             img {
	                margin: 10px 0 0 10px;
	             }
	         }
	         .count {
	             height: 30px;
	             width: 105px;
	             color: $black;
	             font-family: $roboto;
	             font-size: 14px;
	             border: 2px solid #e9e3d8;
	             @include border-radius(50px);
	             display: inline-block;
	             margin: 20px 20px 40px 0px;
	             float: left;
	             line-height: 25px;
	             button {
	                 border: none;
	                 background: none;
	                 color: #999999;
	                 font-family: $roboto;
	                 font-weight: bold;
	                 font-size: 18px;
	                 float: left;
	                 margin-left: 10px;
	             }
	             button:nth-child(2) {
	                 float: right;
	                 margin-right: 10px;
	             }
	             button:hover {
	                 cursor: pointer;
	             }
	         }
	         .add {
	            display: inline-block;
	            float: left;
	            margin-top: 20px;
	            height: 40px;
	            width: 155px;
	            color: white;
	            font-size: 14px;
	            font-family: $robotoBlack;
	            background-color: $blue;
	            border: none;
	            @include border-radius(50px);
	         }
	         .add:hover {
	            cursor: pointer;
	         }
	         p {
                 clear: both;
                 font-family: $roboto;
                 font-weight: 300;
                 font-size: 20px;
                 color: $black;
                 text-align: left;
                 line-height: 25px;
	         }
	         p.social {
	             font-size: 14px;
	             opacity: 0.6;
	             margin-right: 50px;
	         }
	         a {
	             text-align: left;
	             text-decoration: none;
	             color: $blue;
	             font-family: $roboto;
	             font-weight: bold;
	             font-size: 16px;
	             margin: 20px 0;
	             display: inherit;
	         }
	         .social {
	             display: inline-block;
	             float: left;
	             height: 20px;
	             width: 20px;
	             margin-right: 20px;
	             opacity: 0.6;
	             $position: 5px -31px -67px -102px;
	             $i:0;
	             @each $pos in fb, g, tw, pic {
	                $i: $i+1;
	                &.#{$pos} {
	                    background: url('../../img/social_sprite.png') nth($position, $i) 0px;
	                    background-repeat: no-repeat;
	         }
	    }
	         }
	         .social:hover {
	             cursor: pointer;
	         }
	     }
	}
	.page_item:nth-child(6) li.active img{
	            opacity: 1;
	         }
}
.tabs {
    width: 100%;
    height: 450px;
    background-color: #f1edea;
    ul {
    width: 99%;
    height: 60px;
    background-color: white;
    border-bottom: 2px solid #e8e2d6;
    padding-left: 5px;
    li {
       display: inline-block;
       background-color: white;
       margin-top: 5px;
       height: 100%;
       font-family: $robotoCond;
       font-weight: bold;
       font-size: 17px;
       color: $black;
       opacity: 0.6;
       border: none;
       padding: 10px 15px;
    }
    li:hover {
       cursor: pointer;
    }
    li.active {
        opacity: 1;
        border: 2px solid #e8e2d6;
        border-bottom: 2px solid white;
        @include border-radius(30px 30px 0 0);
    }
    }
	.tabs_item {
	   display: none;
	   width: 90%;
	   background-color: white;
	   padding: 25px 19px 0 25px;
	   height: 325px;
	   @include border-radius(0 0 5px 5px);
	   font-family: $roboto;
	   font-weight: 300;
	   font-size: 20px;
	   color: $black;
	   opacity: 0.9;
	   line-height: 25px;
	   -webkit-columns: 200px 2;
       -moz-columns: 200px 2;
       columns: 200px 2;
       -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
       column-gap: 30px;
	}
	.tabs_item.active {
	   display: block;
	}
}
.popular {
	background-color: #f1edea;
	height: 575px;
	width: 100%;
	h2 {
	   color: $black;
	   font-family: $robotoCond;
	   font-weight: bold;
	   font-size: 26px;
	   text-align: center;
	   margin-bottom: 30px;
	}
	.carousel-arrow-left {
	float: left;
	display: block;
	height: 30px;
	width: 30px;
	margin-left: 5%;
	margin-top: -50px;
	background: url(../../img/slide_arrows.png) 5px 0 no-repeat;
}
    .carousel-arrow-right {
    display: block;
	height: 30px;
	width: 30px;
    float: right;
    margin-right: 5%;
    margin-top: -50px;
    background: url(../../img/slide_arrows.png) -1143px -2px no-repeat;
    }
    .carousel-arrow-left:hover, .carousel-arrow-right:hover {
        cursor: pointer;
}
	.carousel_wrapper {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	width: 300px;
    ul {
    position: relative;
    width: 10000px;
	li {
	   display: inline-block;
	   float: left;
	   height: 365px;
	   width: 270px;
	   margin-right: 30px;
	   background-color: white;
	   @include border-radius(5px);
	   img {
	       height: 70%;
	       width: 100%;
	       display: block;
	       @include border-radius(5px 5px 0 0);
	   }
	   figcaption {
	       text-align: center;
	       width: 90%;
           margin-top: 10px;
           font-family: $roboto;
           font-weight: bold;
           font-size: 20px;
           color: #2c3e50;
           line-height: 25px;
           span {
               font-size: 20px;
               opacity: 0.6;
               display: block;
               margin-top: 10px;
           }
	   }
	}
	li:last-child {
	    margin-right: 0px;
	}
	}
}	
}
.rules {
	width: 100%;
	height: 400px;
	background-color: #45413e;
	.rules_item {
	   height: 130px;
	   width: 100%;
	   display: block;
	   float: left;
	   h3 {
	      font-family: $robotoBlack;
	      font-size: 18px;
	      color: white;
	      margin-top: 20px;
	      margin-bottom: 20px;
	   }
	   p {
	      font-family: $roboto;
	      font-size: 17px;
	      color: #868380;
	      line-height: 19px;
	   }
	   .rules_foto {
	      height: 115px;
	      width: 65px;
	      float: left;
	      display: block;
	      margin-right: 20px;
	      margin-top: 20px;
	   $position: 3px -102px -203px;
	             $i:0;
	             @each $pos in free, easy, wide {
	                $i: $i+1;
	                &.#{$pos} {
	                    background: url('../../img/rules_sprite.png') nth($position, $i) 0px;
	                    background-repeat: no-repeat;
	         }
	    }
	   } 
	}
}	
	footer {
	height: 100px;
	width: 100%;
	.made {
	   height: 40px;
	   width: 115px;
	   margin: 30px;
	   float: left;
	   font-family: $roboto;
	   font-size: 13px;
	   color: $black;
	   a {
	      text-decoration: none;
	      color: $blue;
	   }
	}
	h6 {
	   display: none;
	}
	.social {
	   float: right;
	   display: inline-block;
	   margin-top: 30px;
	   height: 20px;
	   width: 20px;
	   margin-right: 20px;
	   opacity: 0.6;
	   $position: 5px -31px -67px -102px;
	   $i:0;
	   @each $pos in fb, g, tw, pic {
	         $i: $i+1;
	         &.#{$pos} {
	                 background: url('../../img/social_sprite.png') nth($position, $i) 0px;
	                 background-repeat: no-repeat;
	         }
	    }
	}
	.social:hover {
	    cursor: pointer;
	}
	.social:after {
	  content: '';
	  clear: both;
	}
	.clear {
	   display: block;
	   clear: both;
	}
	.categories_item {
	display:none;
}
}
}