body {
	background-color: #e7e5e5;
}
.carousel {
	display: block;
	height: 150px;
}
button {
	display: block;
	cursor: pointer;
	clear: both;
	margin-top: 50px;
	border: 1px solid yellow;
	background-color: lightyellow;
	padding: 5px;
	line-height: 25px;
	font-size: 14px;
}
.first {
	display: none;
}
.carousel-list {
	list-style: none;
	width: 10000px;
	padding: 0px;
	position: relative;
	margin-left: 0px;
}
.carousel-element {
	display: inline;
	float: left;
	margin-right: 25px;
}
.carousel-element:last-child {
    margin-right: 0px;
}
.carousel-element img {
	width: 100px;
	height: 70px;
}
.carousel-wrapper {
	width: 350px;
	overflow: hidden;
	float: left;
}
.carousel-arrow-left, .carousel-arrow-right {
	float: left;
	display: block;
	border: 1px solid yellow;
	background-color: lightyellow;
	padding: 5px;
	margin-top: 50px;
}
.carousel-arrow-left:hover, .carousel-arrow-right:hover, button:hover {
    cursor: pointer;
    background-color: yellow;
}
 
.carousel-arrow-left {
    margin-right: 25px;
}
 
.carousel-arrow-right {
    margin-left: 25px;
}
ul {
	margin-left: 15%;
}
hr{
	text-align: center;
	color: #9dc4b1;
	width: 80%;
}
.foto{
	margin: 0% 40% 0% 30%;
	border-radius: 5px;
    width:35%;
}
p{
	padding-left: 10%;
}
h1 {
	padding-left: 15%;
	margin-top: 0px;
}
.little{
	background-color: white;
	font-family: Tahoma;
	margin: 1% 20% 10% 20%;
	height: 70%;
	width: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}